[submodule "ros2_ws/src/rslidar_sdk"]
	path = ros2_ws/src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
[submodule "ros2_ws/src/rslidar_msg"]
	path = ros2_ws/src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
